body {
  font-size: 25px;
  background: white;
  color: black;
  border-color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: white;
    border-color: #fff;
  }
}